body{

    color: white;
    background: url(img/fond.png);
    background-size: cover;
    font-family: 'Black Ops One', cursive;
    h1{
        text-align: center;
        font-size: 40px;
    }
    #jeu{

        width: 70%;
        margin: auto;
        display: flex;
        #timer{
            width: 200px;
            height: 150px;
            background: url(img/gamboy.png);
            background-size: 200px;
            margin-left: 90px;
            p{
                margin-top: 55px;
                margin-left: 90px;
                position: absolute;
            }
        }
        #bonhomme{
            
            width: 500px;
            height: 700px;
        }

        #mot{

            width: 500px;
            height: 700px;
            font-size: 34px;

            #code{
                text-align: justify;
            }

            #bouttons{
            
                margin-top: 10px;
    
                button{
                    border-radius: 50%;
                    margin-top: 20px;
                    text-align: center;
                    width: 30px;
                    height: 30px;
                    background-color: blue;
                    color: white;
                }    
            }
    
        }
    } 
}
